.wrapper {
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 46rem;
    width: 100%;
    margin: 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);

}

.container_tasks {
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    width: 100%;
}

.header_container_tasks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    gap: 0.5rem;
}

.title_and_accountant {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3rem;
}

.title_and_accountant  p {
    background: var(--gray-500);
    color: var(--gray-200);
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 40%;
    padding: 0.125rem 0.5rem;
    width: fit-content;
    text-align: start;
    justify-content: left;
}

.title_created_tasks {
    color: var(--blue);
    width:max-content;
}


.title_completed_tasks {
    color: var(--purple);
}

.info_container {
    border-top: solid 1px var(--gray-500);    
    border-radius: 8px;
    font-size: 1rem;
    color: var(--gray-300);
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.text_for_zero_tasks {
    padding: 4rem 0;
    border-top: solid 1px var(--gray-500);    
    border-radius: 8px;
    font-size: 1rem;
    color: var(--gray-300);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    line-height: 1.4rem;
}

.info_container span {
    font-weight: bold;
}

.info_container p {
    font-weight: 200;
}
